/* 
    Created on : Wednesday 23 September 2015
    Author     : Aaron Alí Nuñez Quispe
    Version    : 0.1
*/
body{
    font-family: sans-serif, arial, verdana;
}
.uploader{
    background-color: #ccc;
    padding: 0.5em;
}
.uploader .uploader-content{

}
.uploader .uploader-content .item{
    border: solid 0.2em #2072b2;
    float: left;
    height: 5em;
    margin: 0em 0.25em 0.25em 0em;
    overflow: hidden;
    position: relative;
    width: 5em;
}
.uploader .uploader-content .item:hover .btn-close.showable{
    display: block;
}
.uploader .uploader-content .item .loader{
    background-color: rgba(189, 189, 189, 0.65);
    background-image: url('/public/images/upload_loader.gif');
    background-size: 3em;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    left: 0em;
    position: absolute;
    top: 0em;
    width: 100%;
}
.uploader .uploader-content .item img{
    height: 100%;
    left: 0em;
    position: absolute;
    top: 0em;
    width: 100%;
}
.uploader .uploader-content .item .btn-close{
    background-color: #2072B2;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 0.8em;
    padding: 0em 0.1em 0.2em 0.25em;
    position: absolute;
    right: 0em;
    top: 0em;
}
.uploader .uploader-content .item .progress{
    background-color: #2072b2;
    bottom: 0em;
    display: none;
    height: 0.5em;
    left: 0em;
    position: absolute;
    width: 100%;
}
.uploader .uploader-content .item .progress .bar{
    animation: uploader-animation 0.5s linear 0s infinite;
    background-size: 1em 0.5em;
    background-image: linear-gradient(135deg, rgba(0,0,0,0.2) 33%, transparent 33%, transparent 66%, rgba(0,0,0,0.2) 66%);
    bottom: 0em;
    height: 100%;
    left: 0em;
    position: absolute;
    width: 0%;
}
.uploader .uploader-content .item.control{
    background-image: url('/public/images/more.png');
    background-size: 3em;
    background-repeat: no-repeat;
    background-position: center center;
    border-style: dashed;
    border-color: rgba(0, 0, 0, 0.25);
}
.uploader .uploader-content .item.control:hover{
    border-color: rgba(0, 0, 0, 0.5);
}
.uploader .uploader-content .item.control input[type=file]{
    cursor: pointer;
    height: 20em;
    opacity: 0;
    width: 20em;
}
.uploader .uploader-detail{

}
.uploader .uploader-detail .body{
    
}
.uploader .uploader-detail .body .row-detail{
    background-color: #2072b2;
    color: #fff;
    font-size: 0.8em;
    margin-bottom: 0.1em;
    padding: 0.5em 0.5em;
    position: relative;
}
.uploader .uploader-detail .body .row-detail.error{
    background-color: #636363;
}
.uploader .uploader-detail .body .row-detail .size{
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    margin-left: 1em;
}
.uploader .uploader-detail .body .row-detail .indicator{
    position: absolute;
    right: 0.5em;
    top: 0.7em;
}
@-webkit-keyframes uploader-animation{
    from {background-position: 0 0;} 
    to {background-position: 1em 0;}
}